/* =========================
   Header
   ========================= */
body.black-header header:not(.scrolled) {
  color: var(--color-text);
}

body.black-header header:not(.scrolled) #header-logo {
  filter: brightness(0);
}

body.black-header header:not(.scrolled) .social-link img {
  filter: brightness(0);
}

body.black-header header:not(.scrolled) .lang-dropdown {
  background: white;
  color: black;
}